Функція calculateTotalPrice рахує та повертає загальну суму покупки на основі кількості товарів у замовленні та ціни за одиницю товару. Вона приймає два параметри, значення яких будуть задаватися під час її виклику.

orderedQuantity - кількість одиниць товару у замовленні
pricePerItem - ціна за одиницю товару
Доповни код функції так, щоб загальна сума покупки була присвоєна змінній totalPrice. Загальна сума покупки отримується шляхом множення кількості замовлених товарів на ціну одиниці.

Оголошена функція calculateTotalPrice (orderedQuantity, pricePerItem)
Виклик calculateTotalPrice(5, 100) повертає 500
Виклик calculateTotalPrice(8, 60) повертає 480
Виклик calculateTotalPrice(3, 400) повертає 1200
Виклик calculateTotalPrice(1, 3500) повертає 3500
Виклик calculateTotalPrice(12, 70) повертає 840
Виклик функції з випадковими, але валідними аргументами, повертає правильне значення