Цикл for можна використовувати для ітерації по масиву, тобто «перебрати» його поелементно.

const planets = ["Earth", "Mars", "Venus"];

for (let i = 0; i < planets.length; i += 1) {
  console.log(planets[i]);
}
Для доступу до елементів використовується синтаксис квадратних дужок масив[індекс], де індекс - це значення лічильника циклу від 0 і до останнього індексу масиву, який на одиницю менший за довжину масиву.


Доповни код циклу for таким чином, щоб він послідовно логував усі елементи масиву fruits.

Оголошена змінна fruits
Значення змінної fruits - це масив ["apple", "plum", "pear", "orange"]
Оголошена змінна i - лічильник циклу
Початкове значення змінної i дорівнює 0
Умова циклу приводиться до true доти, доки i менше за 4
На кожній ітерації значення змінної i збільшується на одиницю
В тілі циклу for оголошується змінна const fruit і цій змінній присвоюється значення - елемент масиву
В тілі циклу for використовується виведення у консоль змінної fruit