Напиши функцію findLongestWord(string), яка приймає довільний рядок, що складається тільки зі слів, розділених пробілом (параметр string), і повертає найдовше слово в цьому рядку.

Поради:

Використовуй метод split() для розбиття рядка на масив слів за роздільником пробілу (' ').
Ініціалізуй змінну longestWord першим словом з масиву.
Пройдись по масиву слів за допомогою циклу та порівняй довжину кожного слова з довжиною longestWord. Якщо знайдено слово, що довше, онови змінну longestWord.
Поверни longestWord.
Оголошена функція findLongestWord(string)
Виклик функції findLongestWord("The quick brown fox jumped over the lazy dog") повертає jumped
Виклик функції findLongestWord("Google do a roll") повертає Google
Виклик функції findLongestWord("May the force be with you") повертає force
Виклик функції findLongestWord() з випадковим рядком повертає правильне значення