У функції може бути більше одного оператора return. Головне пам'ятати, що виконання функції переривається, коли інтерпретатор зустрічає повернення, і весь код після нього буде проігнорований в поточному виклику функції.

Візьмемо вже знайому нам функцію перевірки повноліття. Вона працює, але тут є «зайвий» код, тобто тіло функції можна оптимізувати. В цьому випадку підійде спосіб (патерн) «раннє повернення».

function checkAge(age) {
  let message;

  if (age >= 18) {
    message = "Ви повнолітня людина";
  } else {
    message = "Ви неповнолітня людина";
  }

  return message;
}
Якщо умова в if виконується, тобто приводиться до true, повертаємо рядок "You are an adult", і код нижче вже не виконається.
Якщо умова в if не виконується, тобто приводиться до false, повертаємо рядок "You are a minor".
Використовуючи патерн «раннє повернення» і те, що виконання функції переривається на операторі return, ми позбавляємося зайвої змінної і блоку else. Тобто цей спосіб допомагає «розгладити» розгалуження.

Запиши умову в інструкції if таким чином, щоб функція працювала правильно.

Оголошена функція checkAge(age).
У виразі перевірки віку використаний оператор >=
Виклик checkAge(20) повертає "You are an adult"
Виклик checkAge(8) повертає "You are a minor"
Виклик checkAge(14) повертає "You are a minor"
Виклик checkAge(38) повертає "You are an adult"
В тілі функції є тільки одна інструкція if
В тілі функції відсутні інструкції else або else if