Комбіновані оператори - це коротший спосіб присвоїти змінній нове значення, ґрунтуючись на її попередньому значенні.

Будемо збільшувати значення змінної age на одиницю від попереднього, імітуючи оновлення віку після дня народження користувача.

let age = 25;
// Класичний запис
age = age + 1;
console.log(age); // 26
Спочатку виконується права частина виразу. Замість age підставляється 25, виконується операція додавання, і у змінну age записується 26.

Виконаємо рефакторинг операції оновлення віку, використовуючи комбінований оператор присвоєння з додаванням.

let age = 25;
// Просто коротший запис, працює так само
age += 1;
console.log(age); // 26


Заміни вирази зі стандартними математичними операторами на комбінований оператор присвоєння з додаванням, відніманням, множенням і діленням.

Значення змінної a дорівнює 7
Використаний оператор +=
Значення змінної b дорівнює 6
Використаний оператор -=
Значення змінної c дорівнює 45
Використаний оператор *=
Значення змінної d дорівнює 2
Використаний оператор /=