Метод slice(begin, end) повертає новий масив, що містить копію частини вихідного масиву, не змінюючи його. Копія робиться від begin і до, але не включно, end - індекси елементів вихідного масиву.

Якщо begin та end не вказані, буде створена повна копія вихідного масиву.
Якщо не вказаний end, копіювання буде від start до кінця вихідного масиву.
Якщо значення start від'ємне, а end не вказане, то будуть скопійовані останні N елементів.
const planets = ["Earth", "Mars", "Venus", "Jupiter", "Saturn"];

console.log(planets.slice(0, 2)); // ['Earth', 'Mars']
console.log(planets.slice(0, 4)); // ['Earth', 'Mars', 'Venus', 'Jupiter']
console.log(planets.slice(1, 3)); // ['Mars', 'Venus']
console.log(planets.slice(-2)); // ['Jupiter', 'Saturn']
console.log(planets.slice()); // ['Earth', 'Mars', 'Venus', 'Jupiter', 'Saturn']



Доповни код таким чином, щоб змінні містили часткові копії вихідного масиву fruits.

firstTwoEls - масив із перших двох елементів
nonExtremeEls - масив з усіх елементів, крім першого та останнього
lastThreeEls - масив із трьох останніх елементів
Оголошена змінна fruits
Значення змінної fruits - це масив ["apple", "plum", "pear", "orange", "banana"]
Оголошена змінна firstTwoEls
Значення змінної firstTwoEls - це масив ["apple", "plum"]
Оголошена змінна nonExtremeEls
Значення змінної nonExtremeEls - це масив ["plum", "pear", "orange"]
Оголошена змінна lastThreeEls
Значення змінної lastThreeEls - це масив ["pear", "orange", "banana"]
Змінній lastThreeEls присвоєна копія частини масиву fruits після застосування методу slice з правильними аргументами