Довжина масиву, тобто кількість його елементів, зберігається у властивості length. Це динамічна величина, яка змінюється автоматично під час додавання або видалення елементів.

const planets = ["Earth", "Mars", "Venus"];
console.log(planets.length); // 3



Оголоси змінну fruitsArrayLength і присвой їй довжину масиву fruits, використовуючи властивість length.

Оголошена змінна fruitsArrayLength
Значення змінної fruitsArrayLength - це число 4