Метод concat використовується для об'єднання двох або більше масивів. Він не змінює масив на якому викликається, а повертає новий. Порядок аргументів методу впливає на порядок елементів нового масиву.

const firstArray = ["Mercury", "Venus", "Earth"];
const secondArray = ["Mars", "Jupiter"];
const thirdArray = ["Saturn", "Uranus", "Neptune"];
const allPlanets = firstArray.concat(secondArray, thirdArray);

console.log(firstArray); // ['Mercury', 'Venus', 'Earth'];
console.log(allPlanets); // ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune'];


Доповни код таким чином, щоб у змінній allClients утворився масив усіх елементів масивів oldClients і newClients.

Оголошена змінна oldClients
Значення змінної oldClients - це масив ["Mango", "Ajax", "Poly", "Kiwi"]
Оголошена змінна newClients
Значення змінної newClients - це масив ["Peach", "Houston"]
Оголошена змінна allClients
Значення змінної allClients - це масив ["Mango", "Ajax", "Poly", "Kiwi", "Peach", "Houston"]
Змінній allClients присвоєний масив після застосування методу concat з правильними аргументами