В JavaScript змінна не асоціюється з будь-яким типом даних, тип є у її значення. Тобто змінна може зберігати значення різних типів.

Number - цілі числа і числа з плаваючою комою (крапкою).
String - рядки, послідовність від нуля або більше символів. Рядок починається і закінчується одинарною ' або подвійними лапками ".
Boolean - логічний тип даних, прапорці стану. Всього два значення: true і false. Наприклад, на питання, чи увімкнено світло в кімнаті, можна відповісти так (true) або ні (false).
// Числа
const age = 20;
const salary = 3710.84;

// Рядки
const name = "Mango";
const description = "JavaSript essentials";

// Булі
const isModalOpen = true;
const isLoggedIn = false;

Оголоси наступні змінні, використовуючи ключове слово const або let, і присвой їм відповідні значення.

topSpeed - число 160.
distance - число 617.54.
login - рядок "mango935".
isOnline - буль true.
isAdmin - буль false.
Оголошена змінна topSpeed
Значення змінної topSpeed - це число 160
Оголошена змінна distance
Значення змінної distance - це число 617.54
Оголошена змінна login
Значення змінної login - це рядок "mango935"
Оголошена змінна isOnline
Значення змінної isOnline - це буль true
Оголошена змінна isAdmin
Значення змінної isAdmin - це буль false