Під час роботи з масивом об'єктів виконується редукування за значенням певної властивості. Наприклад, у нас є масив студентів з балами за тест. Необхідно отримати середній бал.

const students = [
  { name: "Mango", score: 83 },
  { name: "Poly", score: 59 },
  { name: "Ajax", score: 37 },
  { name: "Kiwi", score: 94 },
  { name: "Houston", score: 64 },
];

// Назва акумулятора може бути довільною, це просто параметр функції
const totalScore = students.reduce((total, student) => {
  return total + student.score;
}, 0);

const averageScore = totalScore / students.length;


Нашому сервісу необхідно розрахувати середній час, проведений в одній грі для кожного гравця, і отримати загальну суму цих значень часу. Розрахувати час для кожного з гравців можна, розділивши його час (властивість playtime) на кількість ігор (властивість gamesPlayed).

Поради:

Використовуй метод reduce() для ітерації по масиву players та обчислення загальної суми середнього часу гри на одну гру.
Усередині колбек функції reduce(), поділи playtime гравця на gamesPlayed, щоб отримати середній час, витрачений на одну гру.
Накопичуй результат у змінній acc і повертай його в кінці кожної ітерації.
Ініціалізуй параметр acc методу reduce() початковим значенням 0, щоб уникнути отримання NaN при виконанні обчислень.
Після зменшення змінна totalAveragePlaytimePerGame міститиме загальну суму середнього часу гри на одну гру для всіх гравців.
Оголошена змінна players
Значення змінної players - це масив об'єктів гравців
Оголошена змінна totalAveragePlaytimePerGame
Значення змінної totalAveragePlaytimePerGame - це число 1023
Для перебирання масиву players використовується метод reduce()