Метод split(delimiter) дозволяє перетворити рядок на масив, "розбивши" його по роздільнику delimiter. Якщо роздільник - це порожній рядок, отримаємо масив окремих символів. Роздільником може бути один або кілька символів.

const name = "Mango";
console.log(name.split("")); // ["M", "a", "n", "g", "o"]

const message = "JavaScript essentials";
console.log(message.split(" ")); // ["JavaScript", "essentials"]


Доповни код функції splitMessage(message, delimiter). Вона повинна розбити рядок message за вказаним роздільником delimiter і зберегти отриманий масив рядків у змінній words.

Оголошена функція splitMessage(message, delimiter)
Виклик splitMessage("Mango hurries to the train", " ") повертає ["Mango", "hurries", "to", "the", "train"]
Виклик splitMessage("Mango", "") повертає ["M", "a", "n", "g", "o"]
Виклик splitMessage("best_for_week", "_") повертає ["best", "for", "week"]