Функція makeMessage(name, price) складає і повертає повідомлення про покупку. Вона оголошує два параметри, значення яких будуть задаватися під час її виклику.

name - назва товару
price - ціна товару
Доповни код функції таким чином, щоб у змінну message записувався рядок "You picked <product name>, price per item is <product price> credits", де <product name> і <product price> - це значення параметрів name і price. Використовуй синтаксис шаблонних рядків.

Увага
Зверни увагу на те, що в коді відсутній виклик функції makeMessage. З цього завдання і далі ми самі будемо викликати твої функції і перевіряти те, як вони працюють. Результат наших перевірок ти побачиш у блоці Результати під редактором коду.

Оголошена функція makeMessage(name, price)
Виклик makeMessage('Radar', 6150) повертає "You picked Radar, price per item is 6150 credits"
Виклик makeMessage('Scanner', 3500) повертає "You picked Scanner, price per item is 3500 credits"
Виклик makeMessage('Reactor', 8000) повертає "You picked Reactor, price per item is 8000 credits"
Виклик makeMessage('Engine', 4070) повертає "You picked Engine, price per item is 4070 credits"