Виконай рефакторинг функції filterArray(numbers, value), замінивши цикл for на for...of.

Оголошена функція filterArray(numbers, value)
Виклик функції filterArray([1, 2, 3, 4, 5], 3) повертає [4, 5]
Виклик функції filterArray([1, 2, 3, 4, 5], 4) повертає [5]
Виклик функції filterArray([1, 2, 3, 4, 5], 5) повертає []
Виклик функції filterArray([12, 24, 8, 41, 76], 38) повертає [41, 76]
Виклик функції filterArray([12, 24, 8, 41, 76], 20) повертає [24, 41, 76]
Виклик функції filterArray() з випадковим масивом і числом повертає правильний масив
Функція filterArray() використовує цикл for..of