Найчастіше ми заздалегідь у коді не знаємо, яка буде довжина масиву. Для того щоб отримати значення останнього елемента, застосовується наступний підхід - довжина масиву завжди на одиницю більша за індекс останнього елемента. Використовуючи формулу довжина.масиву - 1, можна отримати значення останнього елемента масиву довільної довжини.

const planets = ["Earth", "Mars", "Venus"];
const lastElementIndex = planets.length - 1;
planets[lastElementIndex]; // "Venus"


Оголоси дві зміні:

Ім'я змінної	Очікуване значення
lastElementIndex	Індекс останнього елемента масиву fruits через довжина.масиву - 1
lastElement	Значення останнього елемента масиву
Оголошена змінна lastElementIndex
Значення змінної lastElementIndex - це число 3
Оголошена змінна lastElement
Значення змінної lastElement - це рядок "banana"